version: "3"

services:
  app:
    build: .
    container_name: app
    command: "bin/setup && rails server"
    volumes:
      - .:/opt/app
    ports:
      - 3000:3000
    env_file: .env.development
    tty: true
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    container_name: postgres
    env_file: .env.database
